@import "tailwindcss";
@import "tw-animate-css";

* {
  cursor: none;
}

:root {
    --background: #0B0B0B;
    --foreground: #ededed;
    --primary: #8a2cff;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-dm: var(--font-dm);
  --font-space: var(--font-space);
  --font-stretch: var(--font-stretch);
  --font-unbounded: var(--font-unbounded);
  --font-cursive: var(--font-mer);
  --font-tall: var(--font-bayon);
  --color-primary: var(--primary);

}

body {
  overflow-x: hidden;
  cursor: none;
}

.loader{
    position: relative;
    font-size: 3rem;
    font-family: var(--font-mer);
    font-style: italic;
    font-weight: 300;
  }
  .loader:before {
    content: "";
    color: #fff;
  }
  .loader:after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--primary);
    border-radius: 50%;
    position: absolute;
    inset: 0;
    margin: auto;
    top: -70px;
    animation: motion 3s ease-in-out infinite;
  }

  @keyframes motion {
    0%, 50%, 100% {
      transform: translateX(0) scale(1);
    }
    25% {
      transform: translateX(-100px) scale(0.3);
    }
    75% {
      transform: translateX(100px) scale(0.3);
    }
  }


@layer base {
  body {
    @apply bg-background text-foreground;
  }
}


@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}