@import "tailwindcss";

* {
  cursor: none;
}

:root {
    --background: #0B0B0B;
    --foreground: #ededed;
    --primary: #8a2cff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-dm: var(--font-dm);
  --font-space: var(--font-space);
  --font-stretch: var(--font-stretch);
  --font-unbounded: var(--font-unbounded);
  --font-cursive: var(--font-mer);
  --font-tall: var(--font-bayon);
  --color-primary: var(--primary)
}


body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  cursor: none;
}
